<!DOCTYPE html>
<html>
<head>
  <title>Dummy</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% flash.each do |k,v| %>
    <%= content_tag(:div, v, :class => k) %>
  <% end %>
  <div><%= yield %></div>

</body>
</html>
